/* Asegurar que el canvas ocupe el espacio adecuado */
canvas {
  display: block;
  width: 10vw;  /* 50% del viewport width */
  height: 100vh; /* 80% del viewport height */
  margin-left: 20%;
  margin-top: 10%;
 
}

/* Estilo para la imagen y el texto */
img.rounded-full {
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-bold {
  font-weight: 700;
  color: #333;
}
