
<section class="bg-gray-100 py-16">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-bold text-gray-800 mb-8">Noticias y eventos</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        
        <!-- Tarjeta de Noticia 1 -->
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105">
          <img src="https://elpilon2024.s3.us-west-2.amazonaws.com/2024/04/7dd81b11-32f4-44d4-a16a-0def94b954d7.jpeg" alt="Noticia 1" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Maestro de vallenato ‘El Cocha’ Molina tendrá museo en Valledupar</h3>
            <p class="text-gray-600 mb-6">La iniciativa hace parte del objetivo del maestro en su trabajo de preservación de la música vallenata tradicional.</p>
            <a href="#" class="inline-block text-blue-600 hover:text-blue-800 font-semibold">Leer más &rarr;</a>
          </div>
        </div>
        
        <!-- Tarjeta de Noticia 2 -->
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105">
          <img src="https://imagenes.eltiempo.com/files/image_1200_600/uploads/2024/04/24/662918b8c792a.jpeg" alt="Noticia 2" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Fundación Cocha Molina lanza alianza para preservar el folclor vallenato</h3>
            <p class="text-gray-600 mb-6">Con la plataforma Huellas del Maestro, niños, niñas y jóvenes podrán aprender a tocar el acordeón de manera virtual.</p>
            <a href="#" class="inline-block text-blue-600 hover:text-blue-800 font-semibold">Leer más &rarr;</a>
          </div>
        </div>
        
        <!-- Tarjeta de Noticia 3 -->
        <div class="bg-white rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrAUZnTX7gabELj2eXQ9qjXWRkqLxRIhHDOA&s" alt="Noticia 3" class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">‘El Cocha’ Molina construye un legado para la historia del vallenato</h3>
            <p class="text-gray-600 mb-6">Gonzalo Arturo "El Cocha" Molina fue uno de esos prodigios del acordeón que antes de salir de la adolescencia ya estaba interpretando junto a los grandes.</p>
            <a href="#" class="inline-block text-blue-600 hover:text-blue-800 font-semibold">Leer más &rarr;</a>
          </div>
        </div>
        
      </div>
      <div class="mt-8">
        <a href="#" class="text-blue-600 hover:text-blue-800 font-semibold">Ver más noticias...</a>
      </div>
    </div>
  </section>
  