<div class="relative w-full h-16 bg-cover bg-center bg-transparent" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgpv_X3C4sX6GJsDVOJxhEacgO4SfiG3xvXw&s');">
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-md"></div>
    <div class="relative z-10 flex items-center justify-center h-full">
        <h2 class="text-white text-4xl font-bold"></h2>
    </div>
</div>
<!-- why us  -->
<section class="text-gray-700 body-font mt-10">
    <div class="flex justify-center text-3xl font-bold text-gray-800 text-center">
        ¿Porque Nosotros?
    </div>
    <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-wrap text-center justify-center">
            <div class="p-4 md:w-1/4 sm:w-1/2">
                <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                    <div class="flex justify-center">
                        <img src="https://image3.jdomni.in/banner/13062021/58/97/7C/E53960D1295621EFCB5B13F335_1623567851299.png?output-format=webp" class="w-32 mb-3">
                    </div>
                    <h2 class="title-font font-regular text-2xl text-gray-900">TecnologIA</h2>
                </div>
            </div>

            <div class="p-4 md:w-1/4 sm:w-1/2">
                <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                    <div class="flex justify-center">
                        <img src="https://image2.jdomni.in/banner/13062021/3E/57/E8/1D6E23DD7E12571705CAC761E7_1623567977295.png?output-format=webp" class="w-32 mb-3">
                    </div>
                    <h2 class="title-font font-regular text-2xl text-gray-900">Precios Accesibles</h2>
                </div>
            </div>

            <div class="p-4 md:w-1/4 sm:w-1/2">
                <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                    <div class="flex justify-center">
                        <img src="https://image3.jdomni.in/banner/13062021/16/7E/7E/5A9920439E52EF309F27B43EEB_1623568010437.png?output-format=webp" class="w-32 mb-3">
                    </div>
                    <h2 class="title-font font-regular text-2xl text-gray-900">Aprende en 48 Hras</h2>
                </div>
            </div>

            <div class="p-4 md:w-1/4 sm:w-1/2">
                <div class="px-4 py-6 transform transition duration-500 hover:scale-110">
                    <div class="flex justify-center">
                        <img src="https://image3.jdomni.in/banner/13062021/EB/99/EE/8B46027500E987A5142ECC1CE1_1623567959360.png?output-format=webp" class="w-32 mb-3">
                    </div>
                    <h2 class="title-font font-regular text-2xl text-gray-900">Disponible 24 Hras</h2>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- our services section -->
<section class="py-10" id="services">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
            <div>
                <h2 class="my-8 text-2xl font-bold text-black md:text-4xl">¿Por qué aprender con nosotros?</h2>
                <p class="text-black ">
                    En <span class="font-semibold text-blue-600">Huellas del Maestro</span>, no solo aprendes a tocar el acordeón, te sumerges en la rica cultura Vallenata, guiado por los mejores expertos. Nuestro enfoque único combina tradición con tecnología, permitiéndote aprender a tu propio ritmo y con la flexibilidad que necesitas.
                </p>
            </div>
            <div class="flex justify-center md:justify-end">
                <a href="https://simulador-acordeon.vercel.app/" target="_blank" rel="noopener noreferrer">
                    <button class="text-white bg-[#c8a876] hover:bg-blue-900 transition-colors duration-300 font-semibold py-2 px-4 rounded-lg shadow">
                        Conoce nuestro simulador de acordeón
                    </button>
                </a>
                
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
            
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="https://elpilon.com.co/wp-content/uploads/2016/12/CORONA-REY-DE-REYESJOAQUIN-RAMIREZ.jpg" alt="wheat flour grinding"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Instruido por un Rey Vallenato</h3>
                    <p class="text-gray-700 text-base text-justify">Aprende directamente de un pionero y uno de los mejores acordeoneros de la historia del Vallenato, con décadas de experiencia y pasión por la enseñanza.</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="https://huellasdelmaestro.com/wp-content/uploads/2024/01/Banner-2-1024x413.webp" alt="Coffee"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Aprender nunca habia sido tan facil</h3>
                    <p class="text-gray-700 text-base">Con la plataforma Huellas del Maestro, niños, niñas y jóvenes podrán aprender a tocar el acordeón de manera virtual.</p>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="https://i0.wp.com/guajiranews.com/wp-content/uploads/2022/12/imagen_2022-12-01_182440740.png?resize=800%2C600&ssl=1" alt="Coffee"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-xl font-medium text-gray-800 mb-2">Se parte de una comunidad</h3>
                    <p class="text-gray-700 text-base">Únete a una comunidad apasionada que comparte tus mismos intereses, participa en foros, eventos y más.
                    <!-- <details>
                        <summary>Read More</summary>
                        <p>Our jowar flour is also
                            a good source of protein and fiber, making it a healthy choice for your family.</p>
                    </details>
                    </p> -->

                </div>
            </div>
           

        </div>
    </div>
</section>

<div class="relative w-full h-16 bg-cover bg-center bg-transparent" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgpv_X3C4sX6GJsDVOJxhEacgO4SfiG3xvXw&s');">
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-md"></div>
    <div class="relative z-10 flex items-center justify-center h-full">
        <h2 class="text-white text-4xl font-bold"></h2>
    </div>
</div>

