<div class="relative w-full h-16 bg-cover bg-center bg-transparent" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgpv_X3C4sX6GJsDVOJxhEacgO4SfiG3xvXw&s');">
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-md"></div>
    <div class="relative z-10 flex items-center justify-center h-full">
        <h2 class="text-white text-4xl font-bold"></h2>
    </div>
</div>

<div class="bg-gray-100 p-4 min-h-screen">
    <div class="max-w-7xl mx-auto h-max px-6 md:px-12 xl:px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
            <div>
                <h2 class="my-8 text-2xl font-bold text-black md:text-4xl">¿Por qué aprender con nosotros?</h2>
                <p class="text-black">
                    En <span class="font-semibold text-blue-600">Huellas del Maestro</span>, no solo aprendes a tocar el acordeón, te sumerges en la rica cultura Vallenata, guiado por los mejores expertos. Nuestro enfoque único combina tradición con tecnología, permitiéndote aprender a tu propio ritmo y con la flexibilidad que necesitas.
                </p>
            </div>
            <div class="flex justify-center md:justify-end">
                <a href="https://simulador-acordeon.vercel.app/" target="_blank" rel="noopener noreferrer">
                    <button class="text-white bg-blue-600 hover:bg-blue-700 transition-colors duration-300 font-semibold py-2 px-4 rounded-lg shadow">
                        Conoce nuestro simulador de acordeón
                    </button>
                </a>
                
            </div>
        </div>

        <!-- Tarjetas con separación -->
        <div class="mt-16 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
            <!-- Tarjeta 1 -->
            <div class="relative flex flex-col justify-center overflow-hidden bg-transparent py-6 sm:py-12">
                <div
                    class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">
                    <span class="absolute top-10 z-0 h-20 w-20 rounded-full bg-sky-500 transition-all duration-300 group-hover:scale-[10]"></span>
                    <div class="relative z-10 mx-auto max-w-md">
                        <span class="grid h-20 w-20 place-items-center rounded-full bg-sky-500 transition-all duration-300 group-hover:bg-white text-4xl">
                            🪗
                        </span>
                        <div class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
                            <p>Aprende directamente de los mejores músicos y maestros del Vallenato, con décadas de experiencia y pasión por la enseñanza.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="relative flex flex-col justify-center overflow-hidden bg-transparent py-6 sm:py-12">
                <div
                    class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">
                    <span class="absolute top-10 z-0 h-20 w-20 rounded-full bg-sky-500 transition-all duration-300 group-hover:scale-[10]"></span>
                    <div class="relative z-10 mx-auto max-w-md">
                        <span class="grid h-20 w-20 place-items-center rounded-full bg-sky-500 transition-all duration-300 group-hover:bg-white text-4xl">
                            🕒
                        </span>
                        <div class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
                            <p>Accede a nuestros cursos cuando y donde quieras. No importa tu ubicación o tu horario, siempre estamos aquí para ti.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="relative flex flex-col justify-center overflow-hidden bg-transparent py-6 sm:py-12">
                <div
                    class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm sm:rounded-lg sm:px-10">
                    <span class="absolute top-10 z-0 h-20 w-20 rounded-full bg-sky-500 transition-all duration-300 group-hover:scale-[10]"></span>
                    <div class="relative z-10 mx-auto max-w-md">
                        <span class="grid h-20 w-20 place-items-center rounded-full bg-sky-500 transition-all duration-300 group-hover:bg-white text-4xl">
                            🤝 
                        </span>
                        <div class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
                            <p>Únete a una comunidad apasionada que comparte tus mismos intereses, participa en foros, eventos y más.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="relative w-full h-16 bg-cover bg-center bg-transparent" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgpv_X3C4sX6GJsDVOJxhEacgO4SfiG3xvXw&s');">
    <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-md"></div>
    <div class="relative z-10 flex items-center justify-center h-full">
        <h2 class="text-white text-4xl font-bold"></h2>
    </div>
</div>
